{% include "ShopAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="col-md-12" id="main">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}