<nav id="adminmenu">
    <ul class="top-menu">
        <li><a href="{{ path('group_new') }}"><span class="menu-title">Nowa grupa</span></a>
        <li><a href="{{ path('subgroup_new') }}"><span class="menu-title">Nowa podgrupa</span></a>
        <li><a href=""><span class="menu-title">Nowy produkt</span></a>
        <li><a href=""><span class="menu-title">Zamówienia</span></a>
    </ul>
</nav>
